body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header__wrap {
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: rgba(32, 32, 32, 0.9);
}
.header__logo {
  color: #5a5a5a;
  font-size: 30px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__phone {
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  display: block;
}
.header__phone:hover {
  color: #ffffff;
  text-decoration: none;
}
.header__request {
  color: #d91233;
  font-size: 16px;
  text-decoration: underline;
  text-align: right;
  display: block;
}
.header__request:hover {
  color: #d91233;
  font-weight: 700;
}
.header__text {
  padding: 0 50px;
  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
}
.header__heading {
  margin: 110px 0 0 0;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.header__adventages {
  margin-top: 100px;
}
.header__item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__item-img {
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__item-text {
  width: 165px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
.header__item:nth-child(1) {
  margin-left: auto;
}
.header__item:nth-child(3) {
  margin-right: auto;
}
.header__applications {
  margin-top: 90px;
}
.header__applications-item:nth-child(1) {
  margin-left: auto;
}
.header__applications-item:nth-child(2) {
  margin-right: auto;
}
.header__applications-link {
  display: block;
  width: 240px;
  margin: 0 auto;
  padding: 9px;
  text-align: center;
  border: 1px solid #d91233;
  border-radius: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__applications-link:hover {
  background-color: #d91233;
  color: #ffffff;
  text-decoration: none;
}
.header__applications-text {
  margin: 20px auto;
  width: 158px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}
.adventages {
  padding-top: 80px;
  padding-bottom: 20px;
}
.adventages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.adventages__item:nth-child(4) {
  margin-left: auto;
}
.adventages__item:nth-child(5) {
  margin-right: auto;
}
.adventages__img {
  width: 50px;
  height: 50px;
}
.adventages__heading {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 17px 0;
}
.adventages__text {
  width: 241px;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}
.application {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ebebeb;
}
.application__header {
  text-align: center;
}
.application__heading {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.application__text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}
.application__form {
  margin-top: 60px;
  border: 5px solid #ffffff;
  padding: 60px;
  padding-top: 40px;
}
.application label {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 700;
  display: block;
}
.application label[for="name"] {
  margin-top: 14px;
}
.application input {
  width: 100%;
  color: #141414;
  padding: 11px 6px 11px 17px;
  border: none;
  font-size: 13px;
}
.application input::-webkit-input-placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.application input:-ms-input-placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.application input::-ms-input-placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.application input::placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.application textarea {
  width: 100%;
  height: 129px;
  color: #141414;
  padding: 11px 6px 5px 17px;
  border: none;
  font-size: 13px;
  resize: none;
}
.application textarea::-webkit-input-placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.application textarea:-ms-input-placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.application textarea::-ms-input-placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.application textarea::placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.application__btn {
  display: block;
  width: 100%;
  margin-top: 37px;
  padding: 12px 9px;
  text-align: center;
  border: 1px solid #d91233;
  border-radius: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #d91233;
  -webkit-box-shadow: 0 0 4px #1d0207;
          box-shadow: 0 0 4px #1d0207;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.application__btn:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: 1px 2px 4px #1d0207;
          box-shadow: 1px 2px 4px #1d0207;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: #b8b8b8;
  font-size: 13px;
}
.bootstrap-select .btn {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  background-color: #fff;
}
.bootstrap-select .dropdown-menu li a {
  color: #141414;
  font-size: 13px;
}
.popover-header {
  color: #141414;
  font-size: 13px;
}
.brends {
  padding-top: 80px;
  padding-bottom: 30px;
}
.brends__heading {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.brends__wrap {
  margin-top: 60px;
}
.brends__item {
  width: 140px;
  height: 80px;
  margin-bottom: 20px;
}
.brends__item img {
  display: block;
  margin: 0 auto;
}
.brends__item-1,
.brends__item-6,
.brends__item-10 {
  margin-left: auto;
}
.brends__item-5,
.brends__item-9,
.brends__item-13 {
  margin-right: auto;
}
.about {
  padding-top: 30px;
  padding-bottom: 80px;
}
.about__heading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.about__wrap {
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  border: 5px solid #f2f2f2;
}
.reviews {
  background-color: #ebebeb;
  padding-top: 80px;
  padding-bottom: 80px;
}
.reviews__heading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px;
}
.reviews__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews__item-img {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url('../images/reviews__img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}
.reviews__item-name {
  color: #757575;
  font-size: 12px;
  font-weight: 700;
}
.reviews__item-heading {
  color: #d91233;
  font-size: 16px;
  font-weight: 700;
}
.reviews__item-text {
  width: 350px;
  color: #2b2b2b;
  font-size: 13px;
  font-weight: 700;
}
.consultation {
  background-color: #dbdbdb;
  padding-top: 80px;
  padding-bottom: 80px;
}
.consultation__header {
  text-align: center;
  color: #040404;
}
.consultation__heading {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.consultation__text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}
.consultation__form {
  margin: 0 auto;
  margin-top: 60px;
  padding: 60px;
  border: 5px solid #ffffff;
}
.consultation__form label {
  display: block;
  color: #3b3b3b;
  font-size: 13px;
}
.consultation__form input {
  width: 100%;
  color: #141414;
  padding: 11px 6px 11px 17px;
  border: none;
  font-size: 13px;
}
.consultation__btn {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 12px 20px;
  text-align: center;
  border: 1px solid #d91233;
  border-radius: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #d91233;
  -webkit-box-shadow: 0 0 4px #1d0207;
          box-shadow: 0 0 4px #1d0207;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.consultation__btn:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: 1px 2px 4px #1d0207;
          box-shadow: 1px 2px 4px #1d0207;
}
.contacts {
  height: 550px;
}
.contacts__wrap {
  background-image: url('../images/map.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.contacts__board {
  position: absolute;
  width: 480px;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #d91233;
  -webkit-box-shadow: 0 0 4px #1d0207;
          box-shadow: 0 0 4px #1d0207;
  margin: 0 auto;
  padding: 60px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}
.contacts__phone {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}
.contacts__adress,
.contacts__email {
  font-size: 20px;
  font-weight: 400;
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__logo {
  color: #5a5a5a;
  font-size: 30px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__phone {
  color: #000000;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  display: block;
}
.footer__phone:hover {
  color: #000000;
  text-decoration: none;
}
.footer__request {
  color: #d91233;
  font-size: 16px;
  text-decoration: underline;
  text-align: right;
  display: block;
}
.footer__request:hover {
  color: #d91233;
  font-weight: 700;
}
.modal-block {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.modal-block__wrap {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.modal-block__box {
  z-index: 99;
  max-width: 320px;
  padding: 40px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.modal-block__close {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url('../images/close.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -30px;
}
.modal-block__title {
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.modal-block__text {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
  margin-top: 6px;
}
.request-modal form,
.fast-request-modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.request-modal label,
.fast-request-modal label {
  position: relative;
  width: 100%;
}
.request-modal label[for="request__name"]::after,
.fast-request-modal label[for="request__name"]::after {
  content: '';
  width: 14px;
  height: 14px;
  background-image: url('../images/request__name.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 35px;
  right: 17px;
}
.request-modal label[for="request__phone"]::after,
.fast-request-modal label[for="request__phone"]::after {
  content: '';
  width: 14px;
  height: 14px;
  background-image: url('../images/request__phone.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 35px;
  right: 16px;
}
.request-modal label[for="request__email"]::after,
.fast-request-modal label[for="request__email"]::after {
  content: '';
  width: 19px;
  height: 14px;
  background-image: url('../images/request__email.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 35px;
  right: 15px;
}
.request-modal input,
.fast-request-modal input {
  width: 100%;
  border: 1px solid #d0d0d0;
  margin-top: 10px;
  font-size: 12px;
  padding: 15px;
  padding-right: 30px;
  color: #141414;
}
.request-modal input::-webkit-input-placeholder,
.fast-request-modal input::-webkit-input-placeholder {
  color: #676767;
  font-size: 12px;
}
.request-modal input:-ms-input-placeholder,
.fast-request-modal input:-ms-input-placeholder {
  color: #676767;
  font-size: 12px;
}
.request-modal input::-ms-input-placeholder,
.fast-request-modal input::-ms-input-placeholder {
  color: #676767;
  font-size: 12px;
}
.request-modal input::placeholder,
.fast-request-modal input::placeholder {
  color: #676767;
  font-size: 12px;
}
.request-modal__btn,
.fast-request-modal__btn {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px 17px;
  text-align: center;
  border: 1px solid #d91233;
  border-radius: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #d91233;
  -webkit-box-shadow: 0 0 4px #1d0207;
          box-shadow: 0 0 4px #1d0207;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.request-modal__btn:hover,
.fast-request-modal__btn:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: 1px 2px 4px #1d0207;
          box-shadow: 1px 2px 4px #1d0207;
}
.request-modal__display-none,
.fast-request-modal__display-none {
  display: none;
}
.active-modal {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.active-modal-2 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 1;
}
@media screen and (max-width: 769px) {
  .header__wrap {
    padding-bottom: 30px;
  }
  .header__phone,
  .footer__phone {
    font-size: 24px;
  }
  .header__request,
  .footer__request {
    font-size: 14px;
  }
  .header__text {
    font-size: 24px;
  }
  .header__heading {
    margin-top: 60px;
    font-size: 30px;
  }
  .header__adventages {
    margin-top: 50px;
  }
  .header__applications {
    margin-top: 30px;
  }
  .adventages {
    padding-top: 30px;
  }
  .adventages__item {
    margin-bottom: 30px;
  }
  .application {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .application__form {
    margin-top: 30px;
    padding: 40px;
  }
  .brends {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .brends__wrap {
    margin-top: 30px;
  }
  .about {
    padding-bottom: 30px;
  }
  .about__wrap {
    margin-top: 30px;
  }
  .about__wrap iframe {
    height: 300px;
  }
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .consultation {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .consultation__form {
    margin-top: 30px;
    padding: 30px;
  }
  .consultation__btn {
    margin-top: 20px;
  }
  .contacts__board {
    padding: 30px 10px 30px 10px;
  }
  .contacts__heading {
    margin-bottom: 30px;
  }
  .contacts__phone {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 769px) {
  .header__logo,
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__phone,
  .footer__phone {
    text-align: center;
  }
  .header__request,
  .footer__request {
    text-align: center;
  }
  .contacts__board {
    text-align: center;
  }
  .reviews__item-img {
    margin: 0 auto;
  }
  .reviews__item-inner {
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 412px) {
  .header__wrap {
    padding-bottom: 5px;
  }
  .header__logo,
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
  }
  .header__phone,
  .footer__phone {
    text-align: center;
    font-size: 18px;
  }
  .header__request,
  .footer__request {
    text-align: center;
    font-size: 14px;
  }
  .header__heading {
    margin-top: 30px;
    font-size: 20px;
  }
  .header__text {
    font-size: 14px;
    line-height: 24px;
  }
  .header__adventages {
    margin-top: 20px;
  }
  .header__item {
    margin-bottom: 5px;
  }
  .header__item-text {
    font-size: 14px;
    margin-top: 5px;
  }
  .application__heading,
  .brends__heading,
  .about__heading,
  .reviews__heading,
  .consultation__heading {
    font-size: 20px;
  }
  .application__text {
    font-size: 14px;
    margin-top: 10px;
  }
  .application__form {
    padding: 20px;
  }
  .reviews__heading {
    margin-bottom: 30px;
  }
  .consultation__text {
    font-size: 14px;
    margin-top: 5px;
  }
  .reviews__item-text {
    width: 100%;
  }
  .modal-block__box {
    padding-left: 10px;
    padding-right: 10px;
  }
  .request-modal__btn {
    font-size: 14px;
  }
}
