@lato: "Lato", sans-serif;
@red: #d91233;


body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;

}

.header {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__wrap {
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: rgba(32, 32, 32, 0.9);
  }

  &__logo {
    color: #5a5a5a;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
  }

  &__phone {
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    display: block;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__request {
    color: @red;
    font-size: 16px;
    text-decoration: underline;
    text-align: right;
    display: block;

    &:hover {
      color: @red;
      font-weight: 700;
    }
  }

  &__text {
    padding: 0 50px;
    color: #ffffff;
    font-family: Lato;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
  }

  &__heading {
    margin: 110px 0 0 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__adventages {
    margin-top: 100px;
  }

  &__item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-img {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      width: 165px;
      margin-top: 20px;
      color: #ffffff;
      font-size: 18px;
      text-align: center;
    }

    &:nth-child(1) {
      margin-left: auto;
    }

    &:nth-child(3) {
      margin-right: auto;
    }
  }

  &__applications {
    margin-top: 90px;

    &-item {
      &:nth-child(1) {
        margin-left: auto;
      }

      &:nth-child(2) {
        margin-right: auto;
      }
    }

    &-link {
      display: block;
      width: 240px;
      margin: 0 auto;
      padding: 9px;
      text-align: center;
      border: 1px solid @red;
      border-radius: 25px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      transition: all 0.2s;

      &:hover {
        background-color: @red;
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-text {
      margin: 20px auto;
      width: 158px;
      text-align: center;
      color: #ffffff;
      font-size: 14px;
    }
  }
}

.adventages {
  padding-top: 80px;
  padding-bottom: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    &:nth-child(4) {
      margin-left: auto;
    }

    &:nth-child(5) {
      margin-right: auto;
    }
  }

  &__img {
    width: 50px;
    height: 50px;
  }

  &__heading {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0 17px 0;
  }

  &__text {
    width: 241px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
  }
}

.application {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ebebeb;

  &__header {
    text-align: center;
  }

  &__heading {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
  }

  &__form {
    margin-top: 60px;
    border: 5px solid #ffffff;
    padding: 60px;
    padding-top: 40px;
  }

  & label {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 700;
    display: block;
  }

  & label[for="name"] {
    margin-top: 14px;
  }

  & input {
    width: 100%;
    color: #141414;
    padding: 11px 6px 11px 17px;
    border: none;
    font-size: 13px;

    &::placeholder {
      color: #b8b8b8;
      font-size: 13px;
    }
  }

  & textarea {
    width: 100%;
    height: 129px;
    color: #141414;
    padding: 11px 6px 5px 17px;
    border: none;
    font-size: 13px;
    resize: none;

    &::placeholder {
      color: #b8b8b8;
      font-size: 13px;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    margin-top: 37px;
    padding: 12px 9px;
    text-align: center;
    border: 1px solid @red;
    border-radius: 25px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background-color: @red;
    box-shadow: 0 0 4px darken(@red, 40%);
    transition: all 0.2s;

    &:hover {
      color: #ffffff;
      text-decoration: none;
      box-shadow: 1px 2px 4px darken(@red, 40%);
    }
  }
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: #b8b8b8;
  font-size: 13px;

}

.bootstrap-select .btn {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  background-color: #fff;
}

.bootstrap-select .dropdown-menu li a {
  color: #141414;
  font-size: 13px;
}

.popover-header {
  color: #141414;
  font-size: 13px;
}

.brends {
  padding-top: 80px;
  padding-bottom: 30px;

  &__heading {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  &__wrap {
    margin-top: 60px;
  }

  &__item {
    width: 140px;
    height: 80px;
    margin-bottom: 20px;

    & img {
      display: block;
      margin: 0 auto;
    }

    &-1,
    &-6,
    &-10 {
      margin-left: auto;
    }

    &-5,
    &-9,
    &-13 {
      margin-right: auto;
    }
  }
}

.about {
  padding-top: 30px;
  padding-bottom: 80px;

  &__heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  &__wrap {
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    border: 5px solid #f2f2f2;

  }
}

.reviews {
  background-color: #ebebeb;
  padding-top: 80px;
  padding-bottom: 80px;

  &__heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;




    &-img {
      width: 90px;
      height: 90px;
      margin-right: 20px;
      margin-bottom: 20px;
      background-image: url('../images/reviews__img.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
    }

    &-name {
      color: #757575;
      font-size: 12px;
      font-weight: 700;
    }

    &-heading {
      color: @red;
      font-size: 16px;
      font-weight: 700;
    }

    &-text {
      width: 350px;
      color: #2b2b2b;
      font-size: 13px;
      font-weight: 700;
    }
  }
}

.consultation {
  background-color: #dbdbdb;
  padding-top: 80px;
  padding-bottom: 80px;

  &__header {
    text-align: center;
    color: #040404;
  }

  &__heading {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  &__form {
    margin: 0 auto;
    margin-top: 60px;
    padding: 60px;
    border: 5px solid #ffffff;

    & label {
      display: block;
      color: #3b3b3b;
      font-size: 13px;
    }

    & input {
      width: 100%;
      color: #141414;
      padding: 11px 6px 11px 17px;
      border: none;
      font-size: 13px;
    }
  }

  &__btn {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 12px 20px;
    text-align: center;
    border: 1px solid @red;
    border-radius: 25px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background-color: @red;
    box-shadow: 0 0 4px darken(@red, 40%);
    transition: all 0.2s;

    &:hover {
      color: #ffffff;
      text-decoration: none;
      box-shadow: 1px 2px 4px darken(@red, 40%);
    }
  }
}

.contacts {
  height: 550px;

  &__wrap {
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

  }

  &__board {
    position: absolute;
    width: 480px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: @red;
    box-shadow: 0 0 4px darken(@red, 40%);
    margin: 0 auto;
    padding: 60px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__phone {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
  }

  &__adress,
  &__email {
    font-size: 20px;
    font-weight: 400;
  }

}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;

  &__logo {
    color: #5a5a5a;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
  }

  &__phone {
    color: #000000;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    display: block;

    &:hover {
      color: #000000;
      text-decoration: none;
    }
  }

  &__request {
    color: @red;
    font-size: 16px;
    text-decoration: underline;
    text-align: right;
    display: block;


    &:hover {
      color: @red;
      font-weight: 700;
    }
  }
}

.modal-block {
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  &__wrap {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &__box {
    z-index: 99;
    max-width: 320px;
    padding: 40px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__close {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -30px;
  }

  &__title {
    color: #151515;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    color: #151515;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
    margin-top: 6px;
  }

}

.request-modal,
.fast-request-modal {

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & label {
    position: relative;
    width: 100%;
  }

  & label[for="request__name"]::after {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url('../images/request__name.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 35px;
    right: 17px;
  }

  & label[for="request__phone"]::after {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url('../images/request__phone.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 35px;
    right: 16px;
  }

  & label[for="request__email"]::after {
    content: '';
    width: 19px;
    height: 14px;
    background-image: url('../images/request__email.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 35px;
    right: 15px;
  }

  & input {
    width: 100%;
    border: 1px solid #d0d0d0;
    margin-top: 10px;
    font-size: 12px;
    padding: 15px;
    padding-right: 30px;
    color: #141414;

    &::placeholder {
      color: #676767;
      font-size: 12px;
    }

  }

  &__btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 12px 17px;
    text-align: center;
    border: 1px solid @red;
    border-radius: 25px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background-color: @red;
    box-shadow: 0 0 4px darken(@red, 40%);
    transition: all 0.2s;

    &:hover {
      color: #ffffff;
      text-decoration: none;
      box-shadow: 1px 2px 4px darken(@red, 40%);
    }
  }

  &__display-none {
    display: none;
  }
}

.active-modal {
  transform: translateY(0);
  opacity: 1;


}

.active-modal-2 {
  transform: translateY(100%);
  opacity: 1;

}

@media screen and (max-width:769px) {
  .header__wrap {
    padding-bottom: 30px;
  }

  .header__phone,
  .footer__phone {
    font-size: 24px;

  }

  .header__request,
  .footer__request {
    font-size: 14px;
  }

  .header__text {
    font-size: 24px;
  }

  .header__heading {
    margin-top: 60px;
    font-size: 30px;
  }

  .header__adventages {
    margin-top: 50px;
  }

  .header__applications {
    margin-top: 30px;
  }

  .adventages {
    padding-top: 30px;
  }

  .adventages__item {
    margin-bottom: 30px;
  }

  .application {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .application__form {
    margin-top: 30px;
    padding: 40px;
  }

  .brends {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .brends__wrap {
    margin-top: 30px;
  }

  .about {
    padding-bottom: 30px;
  }

  .about__wrap {
    margin-top: 30px;

    & iframe {
      height: 300px;
    }
  }

  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .consultation {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .consultation__form {
    margin-top: 30px;
    padding: 30px;
  }

  .consultation__btn {
    margin-top: 20px;
  }

  .contacts__board {
    padding: 30px 10px 30px 10px;

  }

  .contacts__heading {
    margin-bottom: 30px;
  }

  .contacts__phone {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .footer {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width:769px) {

  .header__logo,
  .footer__logo {
    justify-content: center;
  }

  .header__phone,
  .footer__phone {
    text-align: center;
  }

  .header__request,
  .footer__request {
    text-align: center;
  }

  .contacts__board {
    text-align: center;
  }

  .reviews__item-img {
    margin: 0 auto;
  }

  .reviews__item-inner {
    text-align: center;
    margin: 0 auto;
  }

}

@media screen and (max-width: 412px) {
  .header__wrap {
    padding-bottom: 5px;
  }

  .header__logo,
  .footer__logo {
    justify-content: center;
    font-size: 24px;
  }

  .header__phone,
  .footer__phone {
    text-align: center;
    font-size: 18px;
  }

  .header__request,
  .footer__request {
    text-align: center;
    font-size: 14px;
  }

  .header__heading {
    margin-top: 30px;
    font-size: 20px;
  }

  .header__text {
    font-size: 14px;
    line-height: 24px;
  }

  .header__adventages {
    margin-top: 20px;
  }

  .header__item {
    margin-bottom: 5px;
  }

  .header__item-text {
    font-size: 14px;
    margin-top: 5px;
  }

  .application__heading,
  .brends__heading,
  .about__heading,
  .reviews__heading,
  .consultation__heading {
    font-size: 20px;
  }

  .application__text {
    font-size: 14px;
    margin-top: 10px;
  }

  .application__form {
    padding: 20px;
  }

  .reviews__heading {
    margin-bottom: 30px;
  }


  .consultation__text {
    font-size: 14px;
    margin-top: 5px;
  }

  .reviews__item-text {
    width: 100%;
  }

  .modal-block__box {
    padding-left: 10px;
    padding-right: 10px;
  }

  .request-modal__btn {
    font-size: 14px;
  }

}